<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input type="text" [(ngModel)]="search"  placeholder="Numero a Buscar" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list inset>
    <ion-card *ngFor="let order of orders | dataFilterOrder : search" (click)="selectOrder(order)">
      <ion-card-header>
        {{ order.numero }} - {{ order.fing }}
      </ion-card-header>
      <ion-card-content>
        <ion-label>Cliente: {{order.nme}}</ion-label>
        <ion-label *ngIf="order.estd==0">Estado: Pendiente</ion-label>
        <ion-label *ngIf="order.estd==1">Estado: Proceso</ion-label>
        <ion-label *ngIf="order.estd==2">Estado: Cerrada</ion-label>

      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
